.col-10
  .content.p-4
    h6.mt-3
      span.display-4 Panel title
      .float-right

        a.btn.btn-outline-success(href="#")
          i.fas.fa-cog
    hr
    .tasks
      .task-litle
        span.h2 Featured
        nav.d-inline-block.bg-none(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='#') All
            li.breadcrumb-item
              a(href='#') Completed
            li.breadcrumb-item
              a(href="#") Remanning

        button.btn.btn-outline-primary.btn-sm.float-right
          i.fas.fa-plus

      ul.list-group.list-group-flush
        li.list-group-item
          span.completed.mr-2
            i.far.fa-square
          span Cras justo odio
          .buttons.float-right
            span.badge.badge-info.mr-2 low
              i.far.fa-times-circle.ml-1
            span.badge.badge-secondary.mr-2 01-01-2019
            .btn-group
              .btn-group.dropleft(role='group')
                button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split.btn-sm(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fas.fa-ellipsis-h
              .dropdown-menu.d-inline-block(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(href='#')
                  i.fas.fa-edit
                  |  Edit
                a.dropdown-item(href='#')
                  i.fas.fa-trash
                  |  remove
                a.dropdown-item(href='#')
                  i.fas.fa-tags
                  |  labels

        li.list-group-item Dapibus ac facilisis in
        li.list-group-item Morbi leo risus
        li.list-group-item Porta ac consectetur ac
        li.list-group-item Vestibulum at eros

    hr
    .tasks
      .task-litle
        span.h2 Featured
        nav.d-inline-block.bg-none(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='#') All
            li.breadcrumb-item
              a(href='#') Completed
            li.breadcrumb-item
              a(href="#") Remanning

        button.btn.btn-outline-primary.btn-sm.float-right
          i.fas.fa-plus

      ul.list-group.list-group-flush
        li.list-group-item
          span.completed.mr-2
            i.far.fa-square
          span Cras justo odio
          .buttons.float-right
            a.btn-link.mr-2(href="#")
              i.fas.fa-edit
            a.btn-link(href="#")
              i.fas.fa-trash
        li.list-group-item Dapibus ac facilisis in
        li.list-group-item Morbi leo risus
        li.list-group-item Porta ac consectetur ac
        li.list-group-item Vestibulum at eros

