.container-fluid.p-0
  .row.no-gutters
    .col-2
      .card.rounded-0.h-100
        ul.nav.flex-column.controls.js-menu
          li.nav-item
            .nav-link Todos Controller
              button.btn.btn-sm.btn-outline-info.float-right.add_group--panel
                i.fas.fa-list-ul.mr-2
                span Group
            .nav-link.input_panel.d-none
              .input-group
                input.form-control(type='text', placeholder="New group")
                .input-group-append
                  button#button-addon2.btn.btn-outline-secondary(type='button', data-panel="add-G-panel")
                    i.fas.fa-plus
    .col-10
      .content.p-4.js-container
