.container-fluid.p-0
  .row.no-gutters
    .col-3
      .card.rounded-0.h-100
        ul.nav.flex-column.controls.js-menu
          li.nav-item
            .nav-link Todos Controller
              button.btn.btn-sm.btn-outline-info.float-right.add_group--panel
                i.fas.fa-list-ul.mr-2
                span Group
    .col-9
      .content.p-4.js-container
